# Файл збереження балансу (щоб на GitHub не було твоїх особистих результатів)
save.txt

# Тимчасові файли Python (кеш)
__pycache__/
*.py[cod]
*$py.class

# Налаштування VS Code
.vscode/

# Налаштування PyCharm (якщо захочеш встановити потім)
.idea/

# Файли операційної системи
.DS_Store
Thumbs.db